*{
    margin: 0%;
    padding: 0%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
   
}

ul, ol {
    list-style: none;
}

 /*====================================================
 SYSTEM COLUMNS-------(GRID) 
  ====================================================*/
  .content {
    position: relative;
    margin: 0;
    width:100%;
    height:auto;
 }
.row{
    margin: auto;
    width:100%;
    height:auto;
    clear: both;
    display: table;

} 

[class*="g-col-"]{
    float: left;
    margin: auto;
    height:auto;
}
.g-col-12{width:100%;}
.g-col-11{width:91.66666667%;}
.g-col-10{width:83.33333333%; }
.g-col-9{width:75%;}
.g-col-8{width:66.66666667%;}
.g-col-7{width:58.33333333%;}
.g-col-6{width:50%;}
.g-col-5{width:41.66666667%;}
.g-col-4{width:33.33333333%;}
.g-col-3{width:25%;}
.g-col-2{width:16.66666666%;}
.g-col-1{width:8.33333333%;}

 /*====================================================
 SYSTEM SCREEN SIZE 
  ====================================================*/
  /*----------------------------------------------LARGE SCREEN*/
@media(min-width:1200px){
.g-col-lg-12{width:100%;}
.g-col-lg-11{width:91.66666667%;}
.g-col-lg-10{width:83.33333333%; }
.g-col-lg-9{width:75%;}
.g-col-lg-8{width:66.66666667%;}
.g-col-lg-7{width:58.33333333%;}
.g-col-lg-6{width:50%;}
.g-col-lg-5{width:41.66666667%;}
.g-col-lg-4{width:33.33333333%;}
.g-col-lg-3{width:25%;}
.g-col-lg-2{width:16.66666666%;}
.g-col-lg-1{width:8.88888888%;}
}
  /*----------------------------------------------MEDIUM SCREEN*/
@media(max-width:1199px) and (min-width:992px){
    .g-col-md-12{width:100%;}
    .g-col-md-11{width:91.66666667%;}
    .g-col-md-10{width:83.33333333%; }
    .g-col-md-9{width:75%;}
    .g-col-md-8{width:66.66666667%;}
    .g-col-md-7{width:58.33333333%;}
    .g-col-md-6{width:50%;}
    .g-col-md-5{width:41.66666667%;}
    .g-col-md-4{width:33.33333333%;}
    .g-col-md-3{width:25%;}
    .g-col-md-2{width:16.66666666%;}
    .g-col-md-1{width:8.88888888%;}
                    }
  /*----------------------------------------------SMALL SCREEN*/
  @media(max-width:991px) and (min-width:768px){
    .g-col-sm-12{width:100%;}
    .g-col-sm-11{width:91.66666667%;}
    .g-col-sm-10{width:83.33333333%; }
    .g-col-sm-9{width:75%;}
    .g-col-sm-8{width:66.66666667%;}
    .g-col-sm-7{width:58.33333333%;}
    .g-col-sm-6{width:50%;}
    .g-col-sm-5{width:41.66666667%;}
    .g-col-sm-4{width:33.33333333%;}
    .g-col-sm-3{width:25%;}
    .g-col-sm-2{width:16.66666666%;}
    .g-col-sm-1{width:8.88888888%;}
                    }

/*----------------------------------------------EXTRA SMALL SCREEN*/
  @media(max-width:767px){
    .g-col-xm-12{width:100%;}
    .g-col-xm-11{width:91.66666667%;}
    .g-col-xm-10{width:83.33333333%; }
    .g-col-xm-9{width:75%;}
    .g-col-xm-8{width:66.66666667%;}
    .g-col-xm-7{width:58.33333333%;}
    .g-col-xm-6{width:50%;}
    .g-col-xm-5{width:41.66666667%;}
    .g-col-xm-4{width:33.33333333%;}
    .g-col-xm-3{width:25%;}
    .g-col-xm-2{width:16.66666666%;}
    .g-col-xm-1{width:8.88888888%;}
                    }
  
  /*====================================================
 MENU (NAV) 
  ====================================================*/          

.ui-nav{
background-color: #5b5b5b; 
border-bottom:2px solid #8f8f8f;
border-top:2px solid #8f8f8f; 
height: 55px;
      }
.ui-menu{
margin-top: 15px;
font-family: 'Open Sans', sans-serif;
font-size: 24px;
text-align: center;
display: table;
          }
.ui-menu > a {
               
text-decoration: none;
color: #fafafa;
             }

    .ui-menu > a:hover {
text-decoration: none;
color: #55ACEE;
text-decoration: overline;
             }
 
             .submenu {
                margin-top: 5px;
                position: absolute;
                float: left;
                min-width: 200px;
                text-align: justify;
                min-width: 200px;
                background-color: #5b5b5b; 
                border-bottom:2px solid #8f8f8f;
                border-top:2px solid #8f8f8f;
                
                }
                
                .submenu a{
                    text-transform: capitalize;
                    margin-left: 10px;
                    text-decoration: none;
                    color: #fafafa; 
                
                    }
                
                .submenu a:hover{
                    transition-duration: 1s;
                    text-decoration: none;
                    color: #55ACEE;
                    text-decoration: overline;
                    
                        }
                
                .submenu {
                transition-duration: .2s;
                visibility: hidden;
                
                      }
                
                .ui-menu:hover > .submenu {
                visibility: visible;
                         
                }
                
                .m-submenu {
                margin-top: -10%;
                margin-left: 100%;
                position: absolute;
                float: right;
                min-width: 200px;
                text-align: justify;
                background-color: #5b5b5b; 
                border-bottom:2px solid #8f8f8f;
                border-top:2px solid #8f8f8f;
                      }
                
                .m-submenu {
                transition-duration: .2s;
                display: none;
                    }
                
                 .mg-submenu:hover .m-submenu {
                display: block;
                      }
                
                .u-submenu {
                    margin-top: -10%;
                    margin-left: 100%;
                    position: absolute;
                    float: right;
                    min-width: 200px;
                    text-align: justify;
                    background-color: #5b5b5b; 
                    border-bottom:2px solid #8f8f8f;
                    border-top:2px solid #8f8f8f;
                          }
                    
                .u-submenu {
                transition-duration: .2s;
                display: none;
                        }
                    
                .um-submenu:hover .u-submenu {
                display: block;
                          }
  /*====================================================
 HEADER, LOGO AND EMBLEM 
  ====================================================*/  
    .ui-header{
min-height: 300px;
background-color: #000000;
}

    .ui-logo{
background-image: url(../images/SOYFLOW.jpg);
align-items: center;
justify-content: center;
background-repeat: no-repeat;
background-size: contain;
min-height: 300px;
transition: all .5s ease-in-out;
-moz-transition: all .5s ease-in-out;
-webkit-transition: all .5s ease-in-out;
            }

                                
    .ui-emblem{
min-height: 300px;
color: #f4f4f4;
text-transform: uppercase;
}

    .ui-emblem > h1, h2, h3, h4, h5, h6 {
text-align: justify;
text-transform: uppercase;
}

    .ui-emblem > div {
margin-top: 20%;
margin-bottom: 20%;
      }
/*====================================================
 SECTION AND ASIDE 
  ====================================================*/  
      .ui-section{
background-color: #000000;
      }

    .slider {
margin-left: 10px;
width: 95%;
margin-top: 2%;
margin-bottom: 2%;
overflow: hidden;
display: block;
box-shadow: 0 0 5px #ca1c1c;
}
        .slider ul {
width: 300%;
display: flex;
padding: 0;
animation: cambio 20s infinite alternate linear;
    }
        
    .slider li {
 list-style: none;
    
        }
        
.slider img {
    width: 100%;
        }
        
        @keyframes cambio {
            0%{margin-left: 0;}
            20%{margin-left: 0;}
            25%{margin-left: -100%}
            45%{margin-left:-100%}
            50%{margin-left: -200%}
            70%{margin-left:-200%}
            75%{margin-left: -200%}
            100%{margin-left:-200%}
        }
/*--------------------------------------------------------------ASIDE*/
body{
    background-color: #000000;
}

.iu-aside {
    margin-left: 0;
    margin-top: 10px;
    background-color: #d1cbcb;
    max-width: 520px;
    text-transform: uppercase;
    
    }

    .fa-rss-square{
color: orange;
font-size: 26px;
        }
        .ui-asideheader{
border-bottom:2px solid #5b5b5b;
              }

      
    .asideTitle {
margin-top: 5px; 
text-transform: uppercase;
float: right;
font-family: Arial, Helvetica, sans-serif;
             }
             
     #lastArts{
margin: 10px;
padding: 0;
}
            
    .barners{
margin-left: 5px;
margin-right: 5px;
margin-top: 15px;
margin-bottom: 10px;
width: 95%;
background-color: #dddddd;
}
            

            
    .barnerimag{
display: block;
margin-top: 2px;
margin-bottom: 2px;
margin-left: 10px;
margin-right: 10px;
float: left;
display: block;
width: 40%;
height: 112px;
border: 1px solid #000000;
    }

    .barnerimag img{
width: 100%;
height: 112px;

    }
    .barnerscontent{
text-align: center;
text-transform: uppercase;
width: 55%;
margin-top: 10px;
        }

    .barnerstitle{
background-color: #55ACEE;
text-transform: uppercase;
width: 100%;
margin-top: 10px;
font-size: 26px;
}

            
    .barnertext > dl{
text-transform: uppercase;
font-size: 20px;
            }
.barners:hover{
    transform: scale(1.2);
    background-color: #b5dfffb2;
            }
            
            
    .ui-footer {
border-top: 10px solid blue;
background-color: #000000;
color: #fafafa;
           }

    .ui-footer {
border-top: 10px solid blue;
background-color: #000000;
color: #fafafa;
     }
.footer-details{
margin-top: 10px;
margin-bottom: 10px;
     }

     .footer-social{
margin-top: 10px;
margin-bottom: 10px;
        }
              
 /*====================================================
 FOOTER 
  ====================================================*/                 
footer h5 {
    text-transform: uppercase;
}
            
    .social-links li a i {
float: left;
width: 32px;
height: 32px;
padding: 12px 0;
border-radius: 50%;
font-size: 13px;
line-height: 7px;
text-align: center;
color: #fafafa;
background: #8f8f8f;
transition: all 0.35s ease-in-out;
-moz-transition: all 0.35s ease-in-out;
-webkit-transition: all 0.35s ease-in-out;
-o-transition: all 0.35s ease-in-out;
            }
                
                
    .social-links li a i:hover {
background: #cc0505;
}
                
    .fa-twitter {
background: #55ACEE;
color: white;
}


 /*====================================================
 ARTIST PAGE 
  ====================================================*/ 
.maincard{
        width: 100%;
        height: 500px;
        background-color: #eee;
        overflow: visible;
        scroll-margin-bottom: 0;
}

.maincard{
    overflow: scroll;
  }

.card{
position: relative;
float: left;
width: 20rem;
margin-right: 10px;
margin-left: 15px;
margin-top: 2%;
background-color: #f4f4f4;
}


.card-text{
    text-align: justify;
    
}


.card-links{
    padding-bottom: 50px;
    }

    
.card-links li a i{
background: #94b9fc;
border-radius: 50%;
font-size: 16px;
width: 32px;
height: 32px;
padding: 12px 0;
line-height: 7px;
text-align: center;
color: #fafafa;
transition: all 0.35s ease-in-out;
-moz-transition: all 0.35s ease-in-out;
-webkit-transition: all 0.35s ease-in-out;
-o-transition: all 0.35s ease-in-out;
        }
    
.card-links li a i:hover {
background:  #033ba3;
color: #e6e6fc;
    }

 /*====================================================
 ALBUM PAGE 
  ====================================================*/ 

.album-card{
    margin-left: 5%;
    
}

.text-monospace a {
    color: #231b94;
    text-decoration: none;
    font-size: 16px;
}

.text-monospace a:hover {
    background: #94b9fc;
    color: #fafafa;
    text-decoration: none;
    font-size: 18px;

}
/*========================================
INFO
==========================================*/
.img-inf-i{
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 10px; 
    
    }
    
    .img-inf-p{
        margin-top: 2%;
     }

article{
        background-color: #f4f4f4;
    }
    
     @media(max-width:767px){
            p{width:350px;  text-align: justify; margin: 5px;} 
            .img-inf-i{width:350px;} 
     }
  


/*==============================
CONTRACT
================================*/


.contract-img img{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 70%;
    height: auto;
    border-radius: 1%;
    box-shadow: 0 0 10px #8f8f8f;
}


.contract-title{

    margin-bottom: 15px;
    border-bottom: 1px solid #8f8f8f;
    background-color: #55acee7c;
}

.contract-title h1{
    margin-left: 5%;
    font-family: Arial, Helvetica, sans-serif;
}

.contract-header{
    height: auto;
    width: 70%;
    margin-top:2%;
    margin-bottom:2%;
    background-color: #fafafa;
    border-radius: 1%;
}

.f-inpu{
    width: 80%;
    margin-left: 5%;
    margin-right: 2%;
    margin-bottom: 2%;
    font-family: Arial, Helvetica, sans-serif;
}

.f-inpu-lb{
    margin-bottom: 0%;
    margin-left: 5%;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}

.contract-footer{
    margin-right: 2%;
    margin-bottom: 2%;
    text-align: center;
}

/*===============================
INFO
=================================*/

